<title>CartIcon Demo</title>
<style>
  #demo {
    padding: 5em;
    max-width: 700px;
  }
</style>
<div id="demo"></div>

<script src="/node_modules/steal/steal.js" main="@empty">
  import React from 'react';
  import ReactDOM from 'react-dom';
  import ProductList from '~/src/components/ProductList/';
  import { products } from '~/src/models/fixtures/products';
  const render = () => {
    ReactDOM.render(<ProductList { ...props } />, document.getElementById('demo'));
  }
  const cart = window.cart = [];
  const addToCart = (product) => {
    cart.push(product);
    render()
  }
  const removeFromCart = (product) => {
    cart.splice(cart.indexOf(product), 1);
    render()
  }
  const props = {
    products,
    cart,
    addToCart,
    removeFromCart
  }
  render();

</script>